# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LOTUS58_LEFT

    config ZMK_KEYBOARD_NAME
        default "Lotus58"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config I2C
        default y

endif

if SHIELD_LOTUS58_LEFT || SHIELD_LOTUS58_RIGHT

    config ZMK_SPLIT
        default y

endif
