#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// Colemak DH

;
/
// -------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |         |
// |    ~    |    Q    |    W    |    F    |    P    |    B    |                   |    J    |    L    |    U    |    Y    |    ;    |         |
// |         |    A    |R (LALT) |S (LCTL) |T (LSFT) |G (LCMD) |                   |M (LCMD) |N (RSFT) |E (LCTL) |I (LALT) |    O    |         |
// |         |    Z    |    X    |    C    |    D    |    V    |                   |    K    |    H    |    ,    |    .    |    /    |         |
// |         |    '    |    _    |    =    |                                                           |    [    |    ]    |    \    |         |
//                     |  ENTER  |  SPACE  |                                                 |   BSPC  |   DEL   |
//                               |   TAB   |   HOME  |                             |   END   |  LCND   |
//                               |  Raise  |    (    |                             |    )    |  Lower  |

            bindings = <
    &kp ESC   &kp N1    &kp N2      &kp N3       &kp N4       &kp N5          &kp N6       &kp N7       &kp N8       &kp N9      &kp N0    &trans
    &kp       &kp Q     &kp W       &kp F        &kp P        &kp B           &kp J        &kp L        &kp U        &kp Y       &kp SEMI  &trans
    &trans    &kp A     &md LALT R  &md LCTRL S  &md LSHFT T  &md LCMD G      &md RCMD M   &md RSHFT N  &md LCTRL E  &md LALT I  &kp O     &trans
    &trans    &kp Z     &kp X       &kp C        &kp D        &kp V           &kp K        &kp H        &kp COMMA    &kp DOT     &kp FSLH  &trans
    &trans    &kp APOS  &kp UNDER   &kp EQUAL                                                           &kp LBKT     &kp RBKT    &kp BSLH  &trans
                                    &kp ENTER    &kp SPACE                                 &kp BSPC     &kp DEL
                                                 &kp TAB      &kp HOME        &kp END      &kp RCMD
                                                 &mo RAISE    &kp LPAR        &kp RPAR     &mo LOWER

            >;
        };

        lower {
// ZMK doesn't support mouse behaviors, so unlike QMK, this default keymap
// exchanges that behavior for Bluetooth behavior
// -------------------------------------------------------------------------------------------------------------------------
// |         |         |         |         |         |  LCAPS  |                   |         |         |         |         |         |         |
// |         |    BT1  |    BT2  |    BT3  |    BT4  |    BT5  |                   |         |  PG_UP  |   UP    |  PG_DN  |         |         |
// |         |         |         |  BTCLR  |  BTNXT  |  BTPRV  |                   |         |   LEFT  |   DOWN  |  RIGHT  |         |         |
// |         |         |         |         |         |         |                   |         |         |         |         |         |         |
// |         |         |         |         |                                                           |         |         |         |         |
//                     |ESC+SHFT |BS + CTRL|                                                 |         |         |
//                               |   TAB   |   HOME  |                             |         |         |
//                               |  Raise  |    ~    |                             |         |         |

            bindings = <
    &trans    &trans        &trans        &trans        &trans        &kp CAPS          &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans        &trans        &bt BT_CLR    &bt BT_NXT    &bt BT_PRV        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans        &trans        &trans        &trans        &trans            &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans        &trans        &trans                                                            &trans    &trans    &trans    &trans
                                          &trans        &trans                                    &trans    &trans
                                                        &trans        &trans            &trans    &trans
                                                        &trans        &trans            &trans    &trans
            >;
        };

        raise {
// |         |     !   |    @    |    #    |    $    |    %    |                   |    ^    |    &    |    *    |    (    |    )    |         |
// |    F1   |   F2    |   F3    |    F5   |    F5   |    F6   |                   |    F7   |    F8   |   F9    |   F10   |   F11   |  F12    |
// |         |         |         |         |         |         |                   |         |         |         |         |    :    |         |
// |         |         |         |         |         |         |                   |         |         |    <    |    >    |    ?    |         |
// |         |    "    |    -    |    +    |                                                           |    {    |    }    |    |    |         |
//                     |         |         |                                                 |         |         |
//                               |         |         |                             |         |         |
//                               |         |         |                             |         |         |

            bindings = <
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans                                                &trans    &trans    &trans    &trans                 
                                  &trans    &trans                            &trans     &trans
                                            &trans    &trans        &trans     &trans
                                            &trans    &trans        &trans     &trans
            >;
        };

        // This layer is for easier copy/paste when creating new keymaps, so you have transparent keys already added
        trans {
// |         |         |         |         |         |         |                   |         |         |         |         |         |         |
// |         |         |         |         |         |         |                   |         |         |         |         |         |         |
// |         |         |         |         |         |         |                   |         |         |         |         |         |         |
// |         |         |         |         |         |         |                   |         |         |         |         |         |         |
// |         |         |         |         |                                                           |         |         |         |         |
//                     |         |         |                                                 |         |         |
//                               |         |         |                             |         |         |
//                               |         |         |                             |         |         |

            bindings = <
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
    &trans    &trans    &trans    &trans                                                &trans    &trans    &trans    &trans                 
                                  &trans    &trans                            &trans     &trans
                                            &trans    &trans        &trans     &trans
                                            &trans    &trans        &trans     &trans
            >;
        };
    };
};